<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddMatchResult</servlet-name>
        <servlet-class>BL.AddMatchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatch</servlet-name>
        <servlet-class>BL.AddMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMatch</servlet-name>
        <servlet-class>BL.EditMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoundUpdate</servlet-name>
        <servlet-class>BL.RoundUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoundAdd</servlet-name>
        <servlet-class>BL.RoundAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoundDel</servlet-name>
        <servlet-class>BL.RoundDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeasonAdd</servlet-name>
        <servlet-class>BL.SeasonAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeasonUpdate</servlet-name>
        <servlet-class>BL.SeasonUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamUpdate</servlet-name>
        <servlet-class>BL.TeamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamAdd</servlet-name>
        <servlet-class>BL.TeamAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerAdd</servlet-name>
        <servlet-class>BL.PlayerAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerUpdate</servlet-name>
        <servlet-class>BL.PlayerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeasonTeamAdd</servlet-name>
        <servlet-class>BL.SeasonTeamAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeagueAdd</servlet-name>
        <servlet-class>BL.LeagueAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeagueUpdate</servlet-name>
        <servlet-class>BL.LeagueUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMatchResult</servlet-name>
        <url-pattern>/AddMatchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatch</servlet-name>
        <url-pattern>/AddMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMatch</servlet-name>
        <url-pattern>/EditMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoundUpdate</servlet-name>
        <url-pattern>/RoundUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoundAdd</servlet-name>
        <url-pattern>/RoundAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoundDel</servlet-name>
        <url-pattern>/RoundDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeasonAdd</servlet-name>
        <url-pattern>/SeasonAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeasonUpdate</servlet-name>
        <url-pattern>/SeasonUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamUpdate</servlet-name>
        <url-pattern>/TeamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamAdd</servlet-name>
        <url-pattern>/TeamAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerAdd</servlet-name>
        <url-pattern>/PlayerAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerUpdate</servlet-name>
        <url-pattern>/PlayerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeasonTeamAdd</servlet-name>
        <url-pattern>/SeasonTeamAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeagueAdd</servlet-name>
        <url-pattern>/LeagueAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeagueUpdate</servlet-name>
        <url-pattern>/LeagueUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>BL-Tabor (Administrace)</display-name>
        <web-resource-collection>
            <web-resource-name>BL-Tabor</web-resource-name>
            <description>Auth needed for all app</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>BL-Tábor (Administrace)</description>
            <role-name>BL-Tabor</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>BL-Tabor (Administrace)</realm-name>
    </login-config>
    <security-role>
        <description>Opravnuje k pristupu k aplikaci BL-Tabor</description>
        <role-name>BL-Tabor</role-name>
    </security-role>
</web-app>
